---
http_interactions:
- request:
    method: get
    uri: https://gov.blockscore.com/api/people
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2215582ae957f9965f6fc2593f1b9d99"'
    body:
      encoding: UTF-8
      string: '[{"first_name":"Rosamond","last_name":"Tromp","phone_location":{"latitude":-50.055853307771045,"longitude":127.38508015960667,"elevation":24.07013849649814},"stated_location":{"latitude":-81.71759900097544,"longitude":-11.608946960404722,"elevation":8.377197204550269}},{"first_name":"Kristy","last_name":"Macejkovic","phone_location":{"latitude":-36.91969799854894,"longitude":81.55476539923416,"elevation":1.6785630878437097},"stated_location":{"latitude":59.63775166544943,"longitude":60.222625744606404,"elevation":13.663102374262603}},{"first_name":"Morgan","last_name":"Ritchie","phone_location":{"latitude":47.641425816937556,"longitude":18.598670786861902,"elevation"[...]
